# Dependências
sinuca-3d/dnode_modules/

# Build / Vite
sinuca-3d/dist/
sinuca-3d/*.local

# Logs
sinuca-3d/logs/
sinuca-3d/*.log
sinuca-3d/npm-debug.log*
sinuca-3d/pnpm-debug.log*
sinuca-3d/yarn-debug.log*
sinuca-3d/yarn-error.log*

# Editor / IDE
sinuca-3d/.idea/
sinuca-3d/.vscode/*
sinuca-3d/!.vscode/extensions.json

# SO
sinuca-3d/.DS_Store
sinuca-3d/Thumbs.db

# TypeScript
sinuca-3d/*.tsbuildinfo